<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/automation/untitled"><classes><class name="restassured.Createrequest.Clientmaster"><methods><include name="postrequest"/></methods></class><class name="restfulAPI.CRUD.IntScenario.INT01"><methods><include name="newtokenrequest"/></methods></class><class name="restfulAPI.CRUD.post"><methods><include name="postrequest"/></methods></class></classes></test></suite>